.fixed-header{  
    position: sticky;  
    top: 0;  
    left: 0;  
    width: 100%;  
    background-color: #333;  
    color: #fff;  
    padding: 10px 0;  
    text-align: center;  
    z-index: 1000;
}

